@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');


/* NavBar */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

#navbar{
    position: sticky;
    top: 0;
    left: 0;
    z-index: 100;
    padding: .5rem 5rem;
    box-shadow: 5px 5px 20px rgba(0,0,0,.5);
    background: black;
}

.navbar .navbar-brand{
    font-size: 25px;
   font-weight: bold;
   font-family: 'Condiment', cursive;
}

#navbarSupportedContent a{
color: #fff;
border-bottom: 2px solid transparent;

}

#navbarSupportedContent a:hover{
    border-bottom: 2px solid green;
}

/* Section */
section{
    width: 100%;
    min-height: 100vh;
    display: flex !important;
    justify-content: center;
    align-items: center;
}

#home{
    background: linear-gradient(rgba(0,0,0,.3),rgba(0,0,0,.4)), url(table-set.png);
    background-size: cover;
    background-position: center;
    background-color: rgb(54, 18, 18);
    flex-direction: column;

}

#home h1{
    font-size: 80px;
    color: white;
    text-shadow: black;
}

#home p{
    font-size: 19px;
    color: white;
}

#home .input-group{
    width: 40%;
    height: 45px;
}

.signin{
    background: green !important;
    color: white !important;
    height: 40px;
}

/* Menu Section */

#menu{
    background: rgb(54, 18, 18);
    letter-spacing: 1px;
    
}

#menu .img-fluid{
    width: 50%;
    align-content: center;
    margin-left: 20%;
    margin-top: 10%;
    

}

#menu h1{
    color: rgb(35, 159, 231);
    font-weight: bolder;
  
}

#menu .ps{
    color: orange;
}

#menu p{
    color: white;
}

/* List Section */

#list {
    background: rgb(54, 18, 18);
}

#list h3{
    font-size: 50px;
    color: white;
    text-align: center;
    font-weight: 600;
}
.card-body{
    background-color: rgb(54, 18, 18);
}

.card-title{
    color: white !important;
}

.card-text{
    color: yellowgreen;
}
